@charset "UTF-8";
/* oсновні стилі */
/* Головний фон сторінки #FFFFFF */
/* Головний колір тексту #212121 */
/* Другорядний колір тексту #757575 */
/* Фон футера #2F303A */
/* Фон секції послуги background: #2F303A; */
/* .............................................................................. */
/* Спільні стилі для всіх сторінок ................................................ */
html {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
ul,
li,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
ul {
  list-style: none;
}

.menu__title {
  position: absolute;
  font-size: 40px;
  font-family: "Oswald";
  align-items: center;
  margin: 40px 0;
}

.rolu__title,
.maki-rolu__title,
.hot-rolu__title,
.futomaki-rolu__title,
.nigiri-rolu__title {
  margin-top: 10px;
  font-family: "Tapestry";
  background-color: #fcba03;
  padding: 2px;
  font-size: 17px;
}

h2,
h3 {
  font-family: "Tapestry";
  margin: 5px 0;
  font-size: small;
  color: whitesmoke;
}

li {
  display: block;
  font-size: small;
}

p {
  font-family: "Lobster";
  margin: 3px 0;
  font-size: smaller;
  color: darkgrey;
}

.box {
  padding: 5px;
}
@media screen and (max-width: 374px) {
  .box {
    width: 150px;
  }
}
@media screen and (min-width: 375px) {
  .box {
    width: 177px;
  }
}
@media screen and (min-width: 405px) {
  .box {
    width: 202px;
  }
}
@media screen and (min-width: 768px) {
  .box {
    width: 300px;
  }
}

.menu {
  display: block;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: center;
}

section {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  color: #fff;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.cards--flex {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: gold;
}

.containers {
  padding: 0 10px;
  padding-top: 60px;
}

/* меню */
.rolu__img {
  display: block;
  width: 130px;
  height: 130px;
}

.rolu__title {
  margin-bottom: 5px;
}

.rolu__item:not(:last-child) {
  border-bottom: 1px solid slategrey;
}

.futomaki-rolu__item:not(:last-child),
.sety__item:not(:last-child) {
  border-bottom: 1px solid slategrey;
}

.maki-rolu__item:not(:last-child) {
  border-bottom: 1px solid slategrey;
}

.hot-rolu__item:not(:last-child) {
  border-bottom: 1px solid slategrey;
}

.nigiri-rolu__item:not(:last-child) {
  border-bottom: 1px solid slategrey;
}

.cap__link {
  padding: 10px 0;
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 35px;
  line-height: 1.2;
}
.cap__link:focus {
  color: gold;
}

.link-lang {
  color: azure;
  border-radius: 50%;
  border: 1px solid gold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1%;
  left: 3%;
}

.link-lang .active {
  color: gold;
}

.item-lang:first-child {
  margin-right: 20px;
}

.lang {
  display: flex;
}

header {
  z-index: 20;
  border-bottom: 1px solid gold;
  position: fixed;
  width: 100%;
  background-color: #000;
  padding: 10px;
}

.cap__corzina-svg {
  fill: honeydew;
  width: 20px;
  height: 20px;
}

.cap__corzina-svg-dod {
  fill: honeydew;
  width: 20px;
  height: 20px;
}

.cap-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.cap__logo {
  display: block;
  font-family: "Tapestry";
  font-size: 25px;
  width: 50%;
  color: honeydew;
}

.menu-container__box {
  margin-top: 20px;
}

.icon-cross {
  background-color: #000;
}

.icon-menu {
  fill: #fff;
  color: gold;
}

.active {
  color: gold;
}

.menu-button {
  position: absolute;
  top: 28%;
  right: 3%;
  z-index: 2;
  padding: 0;
  border: none;
  background-color: #000;
  align-items: center;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-button:hover, .menu-button:focus {
  fill: gold;
}

.menu-container-tel {
  overflow: auto;
  position: fixed;
  z-index: 1;
  background-color: #000;
  padding: 15px;
  display: none;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
}
.menu-container-tel.is-open {
  display: block;
}

.drinks__item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.drinks__title {
  position: absolute;
  font-size: 35px;
  font-family: "Oswald";
  align-items: center;
  margin: 45px 0;
  background-color: none;
}

.drinks__boxs {
  display: flex;
  justify-content: center;
}

.container {
  border-top: 1px solid gold;
  text-align: center;
}

.footer__instnetwork {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  margin: 10px 0;
}

.contacts__item:last-child {
  margin-top: 10px;
}

.info__title {
  margin-top: 250px;
  text-align: center;
  font-size: 20px;
  width: 70%;
}

.info__titles {
  font-size: 20px;
  width: 40%;
}

.info__box {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.1)), url(../../images/golovna.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: 100%;
  color: goldenrod;
  display: flex;
  justify-content: space-around;
  width: 320px;
  height: 560px;
}
@media screen and (min-width: 375px) {
  .info__box {
    width: 375px;
    height: 650px;
  }
}
@media screen and (min-width: 425px) {
  .info__box {
    width: 425px;
    height: 700px;
  }
}
.contacts__link {
  font-size: 15px;
}

.info__title-img {
  height: 100%;
}

.containers-golovna {
  padding-top: 52px;
}

.sety__list-box {
  width: 50%;
}

.sety__box {
  width: 100%;
}

.sety__list {
  display: flex;
  margin-bottom: 10px;
}

.sety__title {
  text-align: center;
}

.sety__title {
  position: absolute;
  font-size: 35px;
  font-family: "Oswald";
  align-items: center;
  margin: 45px 0;
  background-color: none;
}

.sety__boxs {
  display: flex;
  justify-content: center;
}

.ackzc__title {
  text-align: center;
  align-items: center;
  margin-top: 10px;
  font-family: "Tapestry";
  background-color: #fcba03;
  padding: 2px;
  font-size: 17px;
}

.ackzc__box {
  width: 60%;
}

.ackzc__box-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ackzcs__title {
  text-align: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Tapestry";
  background-color: #fcba03;
  padding: 2px;
  font-size: 17px;
}

.korzina__box {
  min-height: 300px;
}

.cap__corzina-svg.active {
  fill: gold;
}

.corzina-btn {
  border: none;
  background-color: #000;
  padding: 5px;
}

.icon-cross-dod {
  fill: gold;
}/*# sourceMappingURL=main.css.map */