.cap__link {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
}
.cap__list {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid gold;
    margin-bottom: 10px;
    
}