
.info__title {
  
    font-size: 20px;
    width: 40%;
  
}
.info__titles {
   
    font-size: 20px;
    width: 40%;

}
.info__box {
    margin-top: 20px;
    margin-bottom: 15px;
    color: goldenrod;
    display: flex;
    justify-content: space-around;
}
.info__img {
    position: relative;
}
.info__title-img {
    position: relative;
}
.contacts__link {
    font-size: 15px;
}