
.info__title {
    margin-top: 250px;
    text-align: center;
    width: 70%;
    font-size: 30px;
    @media screen and (min-width: 768px) {
        color: #fff;
        font-size: 40px;

    }
  
}
.info__titles {
   
    font-size: 20px;
    width: 40%;

}
.golovna-flex {
    display: flex;
    justify-content: center
}
.info__box {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.3)),url(../../images/golovna.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: 100%;
    color: goldenrod;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 560px;
    @media screen and (min-width: 375px) {
       height: 650px;
    }
    @media screen and (min-width: 425px) {
        height: 700px;
    }
    @media screen and (min-width: 768px) {
         height: 600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.3)),url(../../images/golovna-tabl.jpg);
    }
}
.contacts__link {
    font-size: 15px;
}
.info__title-img {
    height: 100%;
}
.containers-golovna {
    

    padding-top: 52px;
}